// Roboto font definition
@font-face {
  font-family: 'Roboto';
  src: resolve('roboto/Roboto-Bold-webfont.eot');
  src:
    resolve('roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    resolve('roboto/Roboto-Bold-webfont.woff') format('woff'),
    resolve('roboto/Roboto-Bold-webfont.ttf') format('truetype'),
    resolve('roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: resolve('roboto/Roboto-Light-webfont.eot');
  src:
    resolve('roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    resolve('roboto/Roboto-Light-webfont.woff') format('woff'),
    resolve('roboto/Roboto-Light-webfont.ttf') format('truetype'),
    resolve('roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: resolve('roboto/Roboto-Medium-webfont.eot');
  src:
    resolve('roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    resolve('roboto/Roboto-Medium-webfont.woff') format('woff'),
    resolve('roboto/Roboto-Medium-webfont.ttf') format('truetype'),
    resolve('roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: resolve('roboto/Roboto-Regular-webfont.eot');
  src:
    resolve('roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    resolve('roboto/Roboto-Regular-webfont.woff') format('woff'),
    resolve('roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    resolve('roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: resolve('roboto/Roboto-Thin-webfont.eot');
  src:
    resolve('roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    resolve('roboto/Roboto-Thin-webfont.woff') format('woff'),
    resolve('roboto/Roboto-Thin-webfont.ttf') format('truetype'),
    resolve('roboto/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;
}
